body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

.navbar-nav li a:hover {
	color: #1abc9c !important;
}

.bg-1 {
	background: #1abc9c; /* Green */
	color: #fff;
}

.bg-2 {
	background: #474e5d; /* Dark Blue */
	color: #fff;
}

.bg-3 {
	background: #fff; /* White */
	color: #555;
}

.bg-4 {
	background: #2f2f2f /* Dark */;
	color: #fff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.inline {
	display: inline;
}

.margin {
	margin-bottom: 45px;
}